<input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header><i class="fa-solid fa-coins"></i> PFT</header>
      <ul>
        <li><a href="UserPage/dashboard"><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="UserPage/transactionForm"><i class="fas fa-link"></i>Add Trans</a></li>
        <li><a href="UserPage/transactionData"><i class="fas fa-stream"></i>History</a></li>
        <li><a href="UserPage/goalPage"><i class="fas fa-calendar-week"></i>Goals</a></li>
        <li><a href="UserPage/repeatedTask"><i class="far fa-question-circle"></i>Repeated</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
        <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
      </ul>
   </div>
   <section>
    <div class="d-flex justify-content-between px-5 align-items-center first-section" >
      <h2 class="fs-3 fw-bold">Welcome {{Name}}</h2>
      <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_640.png" class="image pe-3" alt="">
    </div>
    <router-outlet></router-outlet>
   </section>

