@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
.sidebar {
  position: fixed;
  left: -202px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;

}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  // background: #063146;
  user-select: none;
  background-color: #042331;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: -5px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
  z-index: 99;
  width: 1.5rem;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: -15px;
}
#check:checked ~ label #btn{
  // left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 165px;
}
#check:checked ~ section{
  margin-left: 250px;
  padding-left: 0 !important;
}
section{
  // background: url("") no-repeat;
  // background-position: center;
  // background-size: cover;
  height: 100vh;
  transition: all .5s;
  padding-left: 75px !important;
}

.first-section{
  margin-top: -1.5rem !important;
  // padding-left: 8.5rem !important;
  margin-left: -1.7rem !important;
  height: 6rem;
  color: #1c8bc3;
  background-color: #063146;
}
.image{
  height: 4.5rem;
}
