<section>
  <form>

    <div class="mb-3">
      <label for="goal" class="form-label fw-bold">Enter Goal Name</label>
      <input type="text" class="form-control" id="goal">
    </div>


    <label class="fw-bold">Enter Amount</label>
    <div class="input-group mb-3 ">
      <span class="input-group-text">$</span>
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>

    <label for="floatingTextarea" class="fw-bold">Comments</label>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    </div>
    <div class="mt-3 d-flex justify-content-end">
      <button type="submit" class="btn btn-warning text-white">Submit</button>
    </div>
  </form>
</section>
